<section
	class='landing-section bg-black h-screen w-screen text-center relative overflow-hidden'
	data-header-color='white'
>
	<div class='z-30 relative flex flex-col h-full'>
		<header>
			<h2 class='text-white pt-40 text-[40px] font-medium'>Experience Tesla</h2>
			<p class='text-white text-sm'>Schedule a Demo Drive Today</p>
		</header>
		<footer class='flex-grow justify-end flex flex-col pb-24'>
			<div>
				<a
					href='#'
					class='text-white border-[3px] rounded font-medium px-12 text-sm py-2 hover:text-black hover:bg-white border-white transition-colors backdrop-blur-sm bg-white/5'
					>Demo Drive</a
				>
			</div>
		</footer>
	</div>

	<div class='absolute top-0 bottom-0 z-10 h-full w-full'>
		<video
			autoplay
			muted
			loop
			src='/video.webm'
			class='object-cover object-center h-full w-full'
		>
		</video>
	</div>
</section>
