<section
	class='landing-section bg-white h-screen w-screen text-center relative overflow-hidden'
	data-header-color='black'
>
	<div class='z-30 relative flex flex-col h-full'>
		<header class=`text-black`>
			<h2 class='pt-20 text-[40px] font-medium'>Powerwall</h2>
		</header>
		<footer class='flex-grow justify-end flex flex-col pb-6'>
			<div class='flex gap-x-6 justify-center pb-10'>
				<a
					href='#'
					class=`text-black rounded font-medium px-24 text-sm py-2 hover:text-white hover:bg-black transition-colors bg-white`
					>Order Now</a
				>
				<a
					href='#'
					class=`text-white rounded font-medium px-24 text-sm py-2 hover:bg-black transition-colors bg-gray-600`
					>Learn More</a
				>
			</div>
		</footer>
	</div>

	<div class='absolute top-0 bottom-0 z-10 h-full w-full'>
		<img
			src='/powerwall.avif'
			class='object-cover object-center h-full w-full'
		/>
	</div>
</section>
